{% extends 'userbase.html' %}
{% load static %}
{% block user %}
    <h3>Change Password</h3>
    {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success" role="alert">
            {{m}}
</div>
        {% endfor %}

        {% endif %}
    <div class="row">
        <div class="col-sm-8">
            <div class="card p-3">
                <form  method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3 p-2">
                        <label for="id" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="id" value="{{info.username}}" disabled>
                    </div>
                    <div class="mb-3 p-2">
                        <label for="old" class="form-label">Old Password</label>
                        <input type="password" name="oldpassword" class="form-control" id="old">
                    </div>
                    <div class="mb-3 p-2">
                        <label for="new" class="form-label">New Password</label>
                        <input type="password" name="newpassword" class="form-control" id="new">
                    </div>
                    <div class="mb-3 p-2">
                        <label for="confirm" class="form-label">Confirm Password</label>
                        <input type="password" name="confirmpassword" class="form-control" id="confirm">
                    </div>
                    <div class="text-center p-2">
                    <button class="btn btn-success" >Save Changes </button>
                </div>
                
                </form>
            </div>
        </div>
    </div>
{% endblock %}