{% extends 'userbase.html' %}
{% load static %}
{% block user %}
<h2>Your Orders</h2>

{% for order in orderitems %}
<table class="table">
    <tr class="table-success">
        <td colspan="4">Order Id: {{ order.0.order.id }}</td>
        <td colspan="4">Ordered At: <b>{{ order.0.order.ordered_at }}</b></td>
    </tr>
</table>

<table class="table">
    <tr>
        <th>S.No</th>
        <th>Book</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for item in order %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.book.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
    </tr>
    {% endfor %}
</table>
{% empty %}
<p class="text-center">You haven't ordered any book yet</p>
{% endfor %}

{% endblock %}
